Youtube_transcription_video.json
{
  "name": "Youtube_transcription_video",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ytube",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d5837327-6ba0-4d52-82b3-4699f0e3e7db",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -720,
        208
      ],
      "webhookId": "9024e29e-9080-4cf5-9a6b-0d918468f195",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "90717a0d-58ff-4b93-83b1-4bc10647972f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1200,
        208
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ee42e4c-3cee-4934-97e7-64c96b5691ed",
              "name": "youtubeUrl",
              "type": "string",
              "value": "={{ $json.body.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd64bc9b-e183-422b-9f37-bf7505186dd4",
      "name": "Get YouTube URL",
      "type": "n8n-nodes-base.set",
      "position": [
        -496,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const extractYoutubeId = (youtubeUrl) => {\n // Regex pattern that matches both youtu.be and youtube.com URLs\n const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n const match = youtubeUrl.match(pattern);\n return match ? match[1] : null;\n};\n\n// Input URL from previous node\nconst youtubeUrl = items[0].json.youtubeUrl; // Adjust this based on your workflow\n\n// Process the URL and return the video ID\nreturn [{\n json: {\n videoId: extractYoutubeId(youtubeUrl)\n }\n}];\n"
      },
      "id": "7fb32884-2b49-4cc0-8938-7d321e169b94",
      "name": "YouTube Video ID",
      "type": "n8n-nodes-base.code",
      "position": [
        -272,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.videoId }}",
        "options": {}
      },
      "id": "4a50a16d-dc36-4b56-8691-df80f8d875ba",
      "name": "Get YouTube Video",
      "type": "n8n-nodes-base.youTube",
      "position": [
        -48,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Ydu691S7vlLPKWxd",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the given text and create a structured summary following these guidelines:\n\n1. Break down the content into main topics using Level 2 headers (##)\n2. Under each header:\n - List only the most essential concepts and key points\n - Use bullet points for clarity\n - Keep explanations concise\n - Preserve technical accuracy\n - Highlight key terms in bold\n3. Organize the information in this sequence:\n - Definition/Background\n - Main characteristics\n - Implementation details\n - Advantages/Disadvantages\n4. Format requirements:\n - Use markdown formatting\n - Keep bullet points simple (no nesting)\n - Bold important terms using **term**\n - Use tables for comparisons\n - Include relevant technical details\n\nPlease provide a clear, structured summary and key topics that captures the core concepts while maintaining technical accuracy.\nHere is the title:{{ $json.video_title }}\nHere is the text: {{ $json.video_transcript }}",
        "hasOutputParser": true
      },
      "id": "f0101f78-0f65-48fd-ad47-a9423f4a1343",
      "name": "Summarize & Analyze Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        624,
        208
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf132004-6636-411f-9d85-0c696fda84c4",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.output.summary }}"
            },
            {
              "id": "63c8d0e3-685c-488a-9b45-363cf52479ea",
              "name": "topics",
              "type": "array",
              "value": "={{ $json.output.keytopics }}"
            },
            {
              "id": "171f30cf-34e9-42f3-8735-814024bfde0b",
              "name": "title",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.snippet.title }}"
            },
            {
              "id": "7f26f5a3-e695-49d1-b1e8-9260c31f1b3d",
              "name": "description",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.snippet.description }}"
            },
            {
              "id": "d0594232-cb39-453c-b015-3b039c098e1f",
              "name": "id",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.id }}"
            },
            {
              "id": "17b6ca08-ce89-4467-bd25-0d2d182f7a8b",
              "name": "youtubeUrl",
              "type": "string",
              "value": "={{ $('Get YouTube URL').item.json.youtubeUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a026e9ed-68d4-405d-a77c-7a57fdca50e6",
      "name": "Response Object",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.youtube-transcript.io/api/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic 691ca295b329d3d90123ebdf"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [\n    \"{{ $json.id }}\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        208
      ],
      "id": "a8cf68ec-0d4a-434f-8109-f34ad0be3613",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Http request to get youtube transcriptions",
        "height": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -16
      ],
      "typeVersion": 1,
      "id": "2c1cacef-3637-4dfd-a45d-1e83fcb867d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get the data from the previous HTTP node\nconst data = items[0].json;\n\n// Extract the specific fields we need\nconst transcript = data.text;\n\n// Try to get the title safely (handling complex nesting)\nlet title = \"YouTube Video\";\nif (data.microformat && \n    data.microformat.playerMicroformatRenderer && \n    data.microformat.playerMicroformatRenderer.title && \n    data.microformat.playerMicroformatRenderer.title.simpleText) {\n    title = data.microformat.playerMicroformatRenderer.title.simpleText;\n}\n\n// Return clean data for the AI\nreturn [\n  {\n    json: {\n      video_title: title,\n      video_transcript: transcript\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "bd0c09c7-a2bc-4d58-9124-4efdf9c56660",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        432
      ],
      "id": "eaab78e5-4a0e-4bb0-8146-e03a667126be",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "dlqJ4haSrClqeN35",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"keytopics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        432
      ],
      "id": "1403249f-c04d-47d7-a542-28eccfacf5f2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Get the youtube url",
        "height": 592,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -16
      ],
      "typeVersion": 1,
      "id": "a54d07ce-c35c-43c7-8bbd-23e447976d3b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Analyze and summarize the video",
        "height": 608,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -32
      ],
      "typeVersion": 1,
      "id": "73d36ce2-3780-41b1-9660-c19af389dab0",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get YouTube URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube URL": {
      "main": [
        [
          {
            "node": "YouTube Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Object": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Video ID": {
      "main": [
        [
          {
            "node": "Get YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize & Analyze Transcript": {
      "main": [
        [
          {
            "node": "Response Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube Video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Summarize & Analyze Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize & Analyze Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize & Analyze Transcript",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "480d80ea-f845-47bd-8f4d-cd8dd73eea9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7dc0eae1e44a9cb1aebffcf98a6970a985395a027d5fea34991b04290774e53"
  },
  "id": "VvWYoSR32St0KhF3",
  "tags": []
}